@model sft.Models.ChangePasswordViewModel
@{
  ViewBag.Title = "Change Password";
  ViewBag.PageTitle = "manage";
  Layout = "~/Views/Shared/_LayoutNoSideBar.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
  @Html.AntiForgeryToken()
  <hr />
  @Html.ValidationSummary("", new { @class = "text-danger" })

  @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })

  @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })

  @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })

  @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

  @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })

  @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
  <br />
  <input type="submit" value="Change password" class="btn" />

}
@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}