@model sft.Models.RegisterViewModel
@{
  ViewBag.Title = "Register";
  Layout = "~/Views/Shared/_LayoutNoSideBar.cshtml";
}
@section meta {
  <meta name="robots" content="noindex, nofollow" />
  <meta property="og:url" content="@Request.Url.AbsoluteUri"/>
  <meta property="og:title" content="SFT - @ViewBag.Title"/>
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
  @Html.AntiForgeryToken()
  <h4>Create a new account.</h4>
  <hr />
  @Html.ValidationSummary("", new { @class = "text-danger" })

  @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
  @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

  @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
  @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

  @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-2 control-label" })
  @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })

  @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
  @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })

  @Html.LabelFor(m => m.AccountName, new { @class = "col-md-2 control-label" })
  @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control" })

  @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
  @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

  @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
  @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

  <br />

  <input type="submit" class="btn" value="Register" />

}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
