@model HighlitedNewsNiewModels
@{
    ViewBag.Title = "Choose highlited rentals";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.DropDownListFor(item => item.First, Model.GetArticleSelector())
    <br/>
    @Html.DropDownListFor(item => item.Second, Model.GetArticleSelector())
    <br />
    @Html.DropDownListFor(item => item.Thirt, Model.GetArticleSelector())
    <br />
    <input type="submit" value="Save"/>
}