@model NewsArticle
@{
  ViewBag.Title = "Create new news article";
  ViewBag.PageTitle = "news";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.HiddenFor(item => item.MainPictureLocation)
  @Html.HiddenFor(item => item.HasPicture)

  <table>
    <tr>
      <td>@Html.DisplayNameFor(item => item.Name)</td>
      <td>@Html.EditorFor(item => item.Name)</td>
    </tr>
    <tr>
      <td>@Html.DisplayNameFor(item => item.Text)</td>
      <td>@Html.EditorFor(item => item.Text)</td>
    </tr>
    <tr>
      <td>Allow commenting</td>
      <td>@Html.EditorFor(item => item.IsCommentingEnabled)</td>
    </tr>
    <tr>
      <td>Add picture</td>
      <td id="pictureButtonCell">
        @*      <a href="#" onclick="openUpload();return false; " class="button">upload</a> |*@
        <a href="#" onclick=" openExisting();return false; " class="button">choose existing</a>
        <div id="image" style="display: none;"></div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Save" />
      </td>
    </tr>
  </table>

  <div class="PartialWrapper">
  </div>
  <div class="partialContent">
  </div>
  
}

@section Scripts
{
  <script type="text/javascript">
    function showPartial() {
      $(".PartialWrapper").css("display", "initial");
      $(".partialContent").css("display", "initial");
    }

    function openUpload() {
      $(".partialContent").load("@(Url.Action("CreatePartial", "AdminPictures", null, Request.Url.Scheme))");
      showPartial();
    }

    function openExisting() {
      $.ajax({
        url: '@(Url.Action("SelectPartial", "AdminPictures", null, Request.Url.Scheme))',
        context: document.body
      }).done(function (data) {
        $(".partialContent").html(data);
        $("#pictureTable").DataTable();
        showPartial();
      });

    }
  </script>
}
